[Unit]
Description=Logger server

[Service]
Type=Simple
ExecStart=/usr/bin/python3 /usr/local/bin/logger-server.py

[Install]
WantedBy=multi-user.target